<!DOCTYPE html>
<html>
  <head>
    <title>Custom Chat Bot</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <h1>Custom Chat Bot</h1>

  </body>
</html>
