<!DOCTYPE html>
<html>
  <%- include("includes/head") %>
  <body>
    <%- include("includes/navegation.ejs") %>
    <h1>EN CONTRUCCIÓN</h1>
    <%- include("includes/footer.ejs") %>
  </body>
</html>
