doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home
    link(rel='stylesheet', href='css/dashboard.css')
  body
    h1 Orquestador de Servicio - Panel de Control
    .dashboard
      .service-state
        h2 Estado del servicio
        p#service-state
      .running-instances
        h2 Instancias de servicio en ejecución
        p#running-instances
      .resource-usage
        h2 Utilización de recursos de las instancias
        p#cpu-usage
        p#memory-usage
        p#storage-usage
      .service-stats
        h2 Estadísticas del servicio
        p#average-response-time 
        p#requests-processed 
        p#errors 
  script(src='js/dashboard.js')